.modal-fader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 99998;
	background: rgba(0,0,0,0.8);
}
.modal-fader.active {
	display: block;
}

.modal-window {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99999;
	background: var(--docsifytabs-content-background, #fff);
	padding: 20px;
	border-radius: 5px;
	font-family: sans-serif;
	top: 50px;
}

.modal-window.active {
	display: block;
}

.modal-window h1,
.modal-window h2 {
	margin: 0;
}

.modal-btn {
	background: var(--theme-color,#0074d9);
	border: none;
	color: #fff;
	padding: 10px 15px;
	box-shadow: none;
	border-radius: 3px;
	text-decoration: none;
}

.modal-footer-btn {
    text-align: right
}
